html {
  --mdc-typography-button-font-family: "Roboto Condensed", sans-serif;
  --mdc-typography-headline4-font-family: "Roboto Condensed", sans-serif;
  --mdc-typography-headline4-font-weight: 400;
  --mdc-typography-headline4-font-size: 2.125rem;
  --mdc-typography-headline4-line-height: 2.5rem;
  --mdc-typography-headline5-font-family: "Montserrat", sans-serif;
  --mdc-typography-headline5-font-weight: 500;
  --mdc-typography-headline5-font-size: 1.5rem;
  --mdc-typography-headline5-line-height: 2rem;
  --mdc-typography-headline6-font-family: "Montserrat", sans-serif;
  --mdc-typography-headline6-font-weight: 500;
  --mdc-typography-headline6-font-size: 1.25rem;
  --mdc-typography-subtitle1-font-family: "Montserrat", sans-serif;
  --mdc-typography-subtitle1-font-weight: 500;
  --mdc-typography-subtitle1-font-size: 0.875rem;
  --mdc-typography-body1-font-family: "Montserrat", sans-serif;
  --mdc-typography-body1-font-weight: 400;
  --mdc-typography-body1-font-size: 1rem;
  --mdc-typography-body1-line-height: 1.5rem;
  --mdc-shape-small-component-radius: 8px;
  --mdc-shape-medium-component-radius: 12px;
  --mdc-shape-large-component-radius: 0px;

  --dark-surface-00: #121212;
  --dark-surface-01: #1D1D1D;
}

.theme-light {
  --primary: var(--dark-surface-00);
  --on-primary: white;
  --secondary: white;
  --on-secondary: var(--dark-surface-00);
  --surface: white;
  --on-surface: #424242;
  --on-surface-medium: rgba(0, 0, 0, 0.6);
  --outline: #eee;
  --top-app-bar-color: white;
  --selector: #044fff;
  background: white;

  --blue-linkedin: #2979ff;
  --blue-twitter: #42a5f5;
  --green-medium: #26a69a;
  --gray-github: #455a64;
}

.theme-dark {
  --primary: white;
  --on-primary: var(--dark-surface-00);
  --secondary: var(--dark-surface-00);
  --on-secondary: white;
  --surface: var(--dark-surface-00);
  --on-surface: white;
  --on-surface-medium: rgba(255, 255, 255, 0.6);
  --outline: #7a7a7a;
  --top-app-bar-color: var(--dark-surface-01);
  --selector: #78b2ff;
  background: var(--dark-surface-00);

  --blue-linkedin: #85adff;
  --blue-twitter: #2AA3EF;
  --green-medium: #4db6ac;
  --gray-github: #d6d6d6;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

.content {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  margin: 24px;
  align-items: center;
}

mwc-drawer {
  --mdc-theme-surface: var(--surface);
}

mwc-list-item {
  --mdc-theme-primary: var(--selector);
  --mdc-list-vertical-padding: 0px;
  --mdc-list-side-padding: 30px;
  --mdc-typography-subtitle1-letter-spacing: 0.1px;
  --mdc-list-side-padding: 12px;
  --mdc-theme-text-primary-on-background: var(--on-surface);
  border-radius: var(--mdc-shape-small-component-radius);
  margin: 4px;
  overflow: hidden;
}

mwc-top-app-bar-fixed {
  --mdc-theme-primary: var(--top-app-bar-color);
  --mdc-theme-on-primary: var(--on-secondary);
}

mwc-tab-bar {
  --mdc-theme-primary: var(--primary);
  --mdc-tab-color-default: gray;
  --mdc-tab-text-label-color-default: gray;
  --mdc-tab-stacked-height: 64px;
}

mwc-tab {
  --mdc-typography-button-letter-spacing: 0.1px;
}

@media (max-width: 720px) {
  .top-app-bar-tab-bar {
    visibility: hidden;
  }
}

@media (min-width: 720px) {
  .top-app-bar-menu-icon-button {
    display: none;
  }
}

mwc-button {
  --mdc-theme-primary: var(--primary);
  --mdc-button-outline-color: var(--outline);
  margin-left: 4px;
  margin-right: 4px;
}

.medium-icon-button {
  color: var(--green-medium);
}

.linkedin-icon-button {
  color: var(--blue-linkedin);
}

.twitter-icon-button {
  color: var(--blue-twitter);
}

.github-icon-button {
  color: var(--gray-github);
}

.toggle-theme-icon-button {
  color: var(--primary);
}

h4 {
  font-family: var(--mdc-typography-headline4-font-family);
  font-weight: var(--mdc-typography-headline4-font-weight);
  font-size: var(--mdc-typography-headline4-font-size);
  line-height: var(--mdc-typography-headline4-line-height);
  color: var(--on-surface);
  margin: 0px;
}

h5 {
  font-family: var(--mdc-typography-headline5-font-family);
  font-weight: var(--mdc-typography-headline5-font-weight);
  font-size: var(--mdc-typography-headline5-font-size);
  line-height: var(--mdc-typography-headline5-line-height);
  color: var(--on-surface);
  margin: 0px;
}

h6 {
  font-family: var(--mdc-typography-headline6-font-family);
  font-weight: var(--mdc-typography-headline6-font-weight);
  font-size: var(--mdc-typography-headline6-font-size);
  color: var(--on-surface);
  margin: 0px;
}

.body1 {
  font-family: var(--mdc-typography-body1-font-family);
  font-weight: var(--mdc-typography-body1-font-weight);
  font-size: var(--mdc-typography-body1-font-size);
  line-height: var(--mdc-typography-body1-line-height);
  color: var(--on-surface-medium);
}

.horizontal-list {
  display: flex;
  overflow-x: scroll;
}

.card {
  border-radius: var(--mdc-shape-medium-component-radius);
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-width: 1px;
  border-color: var(--outline);
  border-style: solid;
}

.card_actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
}

.post-card {
  margin: 24px;
  width: 70%;
  max-width: 640px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.post-card img {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-card-title {
  margin: 8px;
}

.project-card {
  margin: 24px;
  width: 70%;
  max-width: 720px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.project-description {
  margin-bottom: 16px;
}

.project-img {
  border: 1px solid var(--outline);
  border-radius: var(--mdc-shape-small-component-radius);
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 24px;
  margin-top: 24px;
}

.project-details {
  margin: 24px;
}

.project-info {
  display: flex;
  flex-direction: row;
}

@media (max-width: 719px) {
  .project-info {
    flex-direction: column;
  }
}

.project-info-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 719px) {
  .project-info-add {
    margin-top: 24px;
    margin-left: 0;
  }
}

.about-content {
  justify-content: start;
  margin: 24px;
}

.about-img {
  margin-bottom: 24px;
  border-radius: var(--mdc-shape-small-component-radius);
}

.bio-section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 719px) {
  .bio-section {
    width: 55%;
  }
}

.design-card {
  margin: 24px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.design-card:last-child {
  position: relative;
}

.design-card:last-child::after {
  position: absolute;
  content: '';
  right: -24px;
  width: 24px;
  height: 100%;
}

.design-info {
  display: flex;
  flex-direction: column;
}

.design-details {
  margin: 24px;
}

.design-img {
  border: 1px solid var(--outline);
  border-radius: var(--mdc-shape-small-component-radius);
  -o-object-fit: contain;
     object-fit: contain;
  margin: 24px 24px 0 24px;
}

