@font-face {
  font-display: swap;
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/google-sans-code-v14-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/google-sans-flex-v16-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/google-sans-flex-v16-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/google-sans-flex-v16-latin-600.woff2') format('woff2');
}

body {
  font-family: 'Google Sans Flex';
}
code {
  font-family: 'Google Sans Code';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500
}

strong {
    font-weight: 600;
}

#menu a {
    font-size: 18px;
}

.logo a {
    font-weight: 500;
    font-size: 18px;
}
