<div class="content">
  <div *ngFor="let project of projects" class="card project-card">
    <div class="project-info">
      <div>
        <img class="project-img" *ngIf="notEmpty(project.thumbnail)" src="{{project.thumbnail}}" alt="Photo"
             height="180"
             width="180">
      </div>
      <div class="project-details">
        <h5 class="project-title">{{ project.title }}</h5>
        <div class="project-info-add">
          <div class="project-description body1">
            {{ project.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="card_actions">
      <a target="_blank" *ngIf="notEmpty(project.youtube_video_url)" href="{{project.youtube_video_url}}">
        <mwc-button label="Youtube" outlined>
          <img slot="icon" src="./assets/youtube.svg">
        </mwc-button>
      </a>
      <a target="_blank" *ngIf="notEmpty(project.medium_url)" href="{{project.medium_url}}">
        <mwc-button label="Read on Medium" outlined>
          <app-svg-icon color="var(--primary)" path="./assets/medium.svg" slot="icon"></app-svg-icon>
        </mwc-button>
      </a>
      <a target="_blank" *ngIf="notEmpty(project.github_url)" href="{{project.github_url}}">
        <mwc-button label="Visit project" outlined>
          <app-svg-icon color="var(--primary)" path="./assets/github.svg" slot="icon"></app-svg-icon>
        </mwc-button>
      </a>
      <a target="_blank" *ngIf="notEmpty(project.play_store_url)" href="{{project.play_store_url}}">
        <mwc-button label="Google Play" outlined>
          <img slot="icon" src="./assets/play_store.svg">
        </mwc-button>
      </a>
    </div>
  </div>
</div>
