<div [class]="themeService.presentTheme$ | async">
  <mwc-drawer type="modal" hasHeader>
    <h6 slot="title">
      Menu
    </h6>
    <mwc-list activatable>
      <mwc-list-item routerLink="{{tab.router}}" *ngFor="let tab of tabs">{{ tab.label }}</mwc-list-item>
    </mwc-list>
    <div slot="appContent">
      <mwc-top-app-bar-fixed>
        <mwc-icon-button class="top-app-bar-menu-icon-button-responsive" icon="menu"
                         slot="navigationIcon"></mwc-icon-button>
        <mwc-tab-bar class="top-app-bar-tab-bar" activeIndex="1" slot="title">
          <mwc-tab stacked routerLink="{{tab.router}}" *ngFor="let tab of tabs" [label]="tab.label"
                   isMinWidthIndicator></mwc-tab>
        </mwc-tab-bar>

        <div *ngIf="bio" slot="actionItems" style="display: flex">
          <a href="{{bio.contact.github}}" target="_blank">
            <mwc-icon-button class="top-app-bar-menu-icon-button">
              <app-svg-icon class="top-app-bar-menu-icon-button-icon" path="./assets/github.svg"></app-svg-icon>
            </mwc-icon-button>
          </a>
          <a href="{{bio.contact.medium}}" target="_blank">
            <mwc-icon-button class="top-app-bar-menu-icon-button">
              <app-svg-icon class="top-app-bar-menu-icon-button-icon" path="./assets/medium.svg"></app-svg-icon>
            </mwc-icon-button>
          </a>
          <a href="{{bio.contact.linkedin}}" target="_blank">
            <mwc-icon-button class="top-app-bar-menu-icon-button">
              <app-svg-icon class="top-app-bar-menu-icon-button-icon" path="./assets/linkedin.svg"></app-svg-icon>
            </mwc-icon-button>
          </a>
          <a href="{{bio.contact.twitter}}" target="_blank">
            <mwc-icon-button class="top-app-bar-menu-icon-button">
              <app-svg-icon class="top-app-bar-menu-icon-button-icon" path="./assets/twitter.svg"></app-svg-icon>
            </mwc-icon-button>
          </a>
        </div>
        <div style="width: 24px;" slot="actionItems"></div>
        <mwc-icon-button
          *ngIf=" (themeService.presentTheme$ | async) == 'theme-light'; else themeDark"
          icon="brightness_4"
          slot="actionItems"
          class="toggle-theme-icon-button"
          (click)="themeService.changeTheme('theme-dark')">
        </mwc-icon-button>
        <ng-template #themeDark>
          <mwc-icon-button
            icon="brightness_5"
            slot="actionItems"
            class="toggle-theme-icon-button"
            (click)="themeService.changeTheme('theme-light')">
          </mwc-icon-button>
        </ng-template>
        <div>
          <router-outlet></router-outlet>
        </div>
      </mwc-top-app-bar-fixed>
    </div>
  </mwc-drawer>
</div>
