<div class="content">
  <div class="card post-card" *ngFor="let post of posts">
    <img class="post-card-thumbnail" src="{{post.thumbnail}}">
    <h6 class="post-card-title">
      {{ post.title }}
    </h6>
    <div class="card_actions">
      <a href="{{post.url}}" target="_blank">
        <mwc-button label="Read on Medium" outlined>
          <app-svg-icon class="mwc-button-icon" color="var(--primary)" path="./assets/medium.svg"
                        slot="icon"></app-svg-icon>
        </mwc-button>
      </a>
    </div>
  </div>
</div>
