<div style="min-height: 100vh;">
  <div *ngFor="let section of designs" style="display: flex; flex-direction: column; margin-top: 24px;">
    <h5 style="margin-left: 48px;">{{ section.name }}</h5>
    <div class="horizontal-list">
      <div *ngFor="let design of section.items" class="card design-card">
        <div class="design-info">
          <div style="display: flex; flex-direction: row;">
            <img *ngFor="let image of design.images" class="design-img" src="{{image.url}}" alt="Photo"
                 height="{{image.height}}"
                 width="{{image.width}}">
          </div>
          <div class="design-details">
            <h6>{{ design.title }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
