body {
  margin: 0;
}

$mdc-theme-primary: #424242; // primary color
$mdc-theme-secondary: #033cda; // secondary color
$mdc-typography-font-family: 'Montserrat', sans-serif;
$mdc-typography-styles-button: (
  font-family: 'Roboto Condensed',
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline2: (
  font-family: 'Roboto Condensed',
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline3: (
  font-family: 'Montserrat',
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline4: (
  font-family: 'Roboto Condensed',
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline5: (
  font-family: 'Montserrat',
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline6: (
  font-family: 'Montserrat',
  color: $mdc-theme-primary
);
$mdc-typography-styles-body1: (
  color: rgba(0,0,0,0.6)
);
$mdc-shape-small-component-radius: 8px;
$mdc-shape-medium-component-radius: 12px;
$mdc-shape-large-component-radius: 0px;

@import "~@angular-mdc/theme/material";
@import "~@angular-mdc/theme/material-components-web";

.demo-top-app-bar-themed {
  @include mdc-top-app-bar-fill-color(rgba(255, 255, 255, 0.98));
  @include mdc-top-app-bar-icon-ink-color($mdc-theme-primary);
  // @include mdc-tab-ink-color($mdc-theme-secondary);
  // @include mdc-tab-indicator-underline-color($mdc-theme-secondary);
  .mdc-tab-bar {
    margin-top: 1em;

    @media (max-width: 719px) {
      visibility: hidden;
    }
  }

  .mdc-button {
    @media (min-width: 719px) {
      display: none;
    }
  }

  .mdc-tab {
    letter-spacing: 0.1px;
  }
}

.mdc-button {
  @include mdc-button-outline-color($material-color-grey-200);
  margin-left: 4px;
  margin-right: 4px;
}

.demo-drawer--accessible {
  @include mdc-drawer-activated-overlay-color($mdc-theme-secondary);
  @include mdc-drawer-item-activated-text-ink-color($mdc-theme-secondary);
  @include mdc-drawer-item-activated-icon-ink-color($mdc-theme-secondary);
}
.demo-drawer-app-content {
  padding-top: 124px;
  overflow: hidden;
  position: relative;
}

.post-card {
  margin: 24px;
  width: 70%;
  max-width: 640px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @include mdc-card-outline($material-color-grey-200)
}

.bio-section {
  display: flex;
  flex-direction: column;

  @media (min-width: 719px) {
    width: 55%;
  }
}

.behance-icon-button {
  @include mdc-icon-button-ink-color($material-color-grey-700);
}

.github-icon-button {
  @include mdc-icon-button-ink-color($material-color-blue-grey-700);
}

.medium-icon-button {
  @include mdc-icon-button-ink-color($material-color-teal-400);
}

.linkedin-icon-button {
  @include mdc-icon-button-ink-color($material-color-blue-a400);
}

.twitter-icon-button {
  @include mdc-icon-button-ink-color($material-color-blue-400);
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 24px;
  margin: 24px;
}

.about-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 24px;
  align-items: center;
}

a {
  text-decoration: none;
  color: initial;
}

.post-card {
  margin: 24px;
  width: 70%;
  max-width: 640px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @include mdc-card-outline($material-color-grey-200)
}

.post-card img {
  border-radius: $mdc-shape-medium-component-radius $mdc-shape-medium-component-radius 0px 0px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-card-title {
  margin: 8px;
}

.project-card {
  margin: 24px;
  width: 70%;
  max-width: 720px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @include mdc-card-outline($material-color-grey-200)
}

.project-description {
  margin-bottom: 16px;
}

.project-img {
  border: 1px solid $material-color-grey-200;
  border-radius: $mdc-shape-small-component-radius;
  object-fit: contain;
  margin-left: 24px;
  margin-top: 24px;
}

.project-details {
  margin: 24px;
}

.project-info {
  display: flex;
  flex-direction: row;
  @media (max-width: 719px) {
    flex-direction: column;
  }
}

.project-info-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 719px) {
    margin-top: 24px;
    margin-left: 0;
  }
}

mdc-chip {
  @include mdc-chip-fill-color($material-color-grey-50);
  @include mdc-chip-ink-color($mdc-theme-primary);
  // Disable clickable
  pointer-events: none;
  cursor: default;
}

.chip-material {
  @include mdc-chip-fill-color($material-color-deep-purple-200);
}

.chip-android {
  @include mdc-chip-fill-color($material-color-teal-200);
}

.chip-flutter {
  @include mdc-chip-fill-color($material-color-light-blue-200);
}

.chip-iot {
  @include mdc-chip-fill-color($material-color-yellow-200);
}

.chip-gcloud {
  @include mdc-chip-fill-color($material-color-blue-200);
}

.chip-camera {
  @include mdc-chip-fill-color($material-color-deep-orange-200);
}

.medium-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: $material-color-teal-400;
}

.about-img {
  margin-bottom: 24px;
  border-radius: $mdc-shape-small-component-radius;
}

.design-card {
  margin: 24px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @include mdc-card-outline($material-color-grey-200);

  &:last-child {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      right: -24px;
      width: 24px;
      height: 100%;
    }
  }
}

.design-info {
  display: flex;
  flex-direction: column;
}

.design-details {
  margin: 24px;
}

.design-img {
  border: 1px solid $material-color-grey-200;
  border-radius: $mdc-shape-small-component-radius;
  object-fit: contain;
  margin: 24px 24px 0 24px;
}

.horizontal-list {
  display: flex;
  overflow-x: scroll;
}
